@{
    Layout = "~/Views/_MasterLayoutPage.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
第二层
    <div>
        @RenderBody()
    </div>
</body>
</html>